<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <div class="center">
    <ion-card>
      <ion-item lines="full">
        <ion-label position="floating">Primeiro valor</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Segundo valor</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>
