<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Validar Forms </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-padding">Cadastro</h1>
  <ion-card>
    <form [formGroup]="registerForm">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input id="nome" formControlName="nome"></ion-input>
        <ng-container *ngFor="let erro of mensagensValidacao.nome">
          <span
            *ngIf="nome.errors?.[erro.tipo] && (nome.dirty || nome.touched)"
            class="msg-erro"
          >
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <ng-container *ngFor="let erro of mensagensValidacao.email">
          <span
            *ngIf="email.errors?.[erro.tipo] && (email.dirty || email.touched)"
            class="msg-erro"
          >
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input type="tel" id="cpf" formControlName="cpf"></ion-input>
        <ng-container *ngFor="let erro of mensagensValidacao.cpf">
          <span
            *ngIf="cpf.errors?.[erro.tipo] && (cpf.dirty || cpf.touched)"
            class="msg-erro"
          >
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
        <ng-container *ngFor="let erro of mensagensValidacao.senha">
          <span
            *ngIf="senha.errors?.[erro.tipo] && (senha.dirty || senha.touched)"
            class="msg-erro"
          >
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirma Senha</ion-label>
        <ion-input type="password" formControlName="confirmaSenha"></ion-input>
        <ng-container *ngFor="let erro of mensagensValidacao.confirmaSenha">
          <span
            *ngIf="confirmaSenha.errors?.[erro.tipo] && (confirmaSenha.dirty || confirmaSenha.touched)"
            class="msg-erro"
          >
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
    </form>

    <ion-button expand="block"> REGISTRAR </ion-button>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="clear"> VOLTAR </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline"> LIMPAR </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
